<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FOO !</title>

    <link rel="stylesheet" href="./css/myApp.css"/>
</head>
<body ng-app="myApp">

<div ng-controller="myAppCtrl as ctrl">

    {{ctrl.msg}}
</div>


<!-- To remove when shipping the applicaiton (dev only) -->
<script src="http://localhost:9091/livereload.js"></script>

<!-- All vendors dependencies in correct order -->
<script src="/vendors/jquery/jquery.js"></script>
<script src="/vendors/angular/angular.js"></script>

<!-- Application specific js.-->
<script src="app.js"></script>

</body>
</html>